[submodule "src/elm-time"]
	path = src/elm-time
	url = https://github.com/aforemny/elm-time.git
[submodule "src/parse"]
	path = src/parse
	url = https://github.com/aforemny/parse.git
[submodule "src/material-components-elm"]
	path = src/material-components-elm
	url = github.com:aforemny/material-components-elm.git
