.collection-spread {
  flex: 1 1 100%;

  &__wrapper {
    flex: 1 1 100%;
  }

  &__primary {
    padding: 1rem;
  }

  &__title {
    @include mdc-typography(headline5);
    margin: 0;
  }

  &__subtitle {
    @include mdc-typography(subtitle2);
    @include mdc-theme-prop(color, text-secondary-on-background);
    margin: 0;
  }

  &__bullet-wrapper {
    border-top: 1px solid #ccc;
    overflow-y: auto;
  }
}
