.monthly-spread {

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__days-wrapper,
  &__bullets-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc(50% - 64px);
  }

  &__day {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__day__day-of-month {
    display: inline-block;
    width: 32px;
    overflow: hidden;
  }

  &__day__day-of-week {
    display: inline-block;
    width: 32px;
    overflow: hidden;
  }

  &__day__text {
  }
}
