.index {
  flex: 1 1 100%;

  &__wrapper {
    flex: 1 1 100%;
    max-height: calc(100% - 64px);
    position: relative;
  }

  &__primary {
    padding: 1rem;
  }

  &__title {
    @include mdc-typography(headline5);
    margin: 0;
  }

  &__subtitle {
    @include mdc-typography(subtitle2);
    @include mdc-theme-prop(color, text-secondary-on-background);
    margin: 0;
  }

  &__items-wrapper {
    border-top: 1px solid #ccc;
    overflow-y: auto;
  }

  &__new-spread {
    position: absolute;
    top: calc(#{2rem + 1.375rem + 2rem} - #{56px/2});
    right: 2rem;
  }
}
