.table-of-content {
}

.table-of-content__wrapper {
}

.table-of-content__primary {
  padding: 1rem;
  position: relative;
}

.table-of-content__subtitle {
  @include mdc-typography(subtitle2);
  @include mdc-theme-prop(color, text-secondary-on-background);
  margin: 0;
  min-height: 2*1.375rem;
  text-overflow: hidden;
  margin-right: #{56px + 24+x};
}

.table-of-content__items-wrapper {
  border-top: 1px solid #ccc;
  padding: 1rem;
  overflow-y: auto;
}
